<!DOCTYPE html>
<html>
  <head>
    <title>PaymasterOauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
