<!DOCTYPE html>
<html>
  <head>
    <title>PaymasterOauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  </head>

  <body data-no-turbolinks="true">

    <!-- START NAV -->
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="/">
          The Awesome Company
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/statements">
            Statements
          </a>
          <a class="navbar-item" href="/">
            Derivables
          </a>
          <a class="navbar-item" href="/">
            Settings
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
